@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&family=Oswald:wght@200;400;600;700&family=Poppins:wght@400;600;800&display=swap");
/* ----------------------------------------------------------------------------------------
* preloader
* ----------------------------------------------------------------------------------------
*/
.container-character {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Character {
  border-radius: 50%;
  background-color: #bfadd9;
  --pixel-size: 16;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
/* ----------------------------------------------------------------------------------------
* MOUSE
* ----------------------------------------------------------------------------------------
*/
.large_circle,
.small_circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #7f00ff;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s;
}
.small_circle {
  width: 16px;
  height: 16px;

  transition: transform 0.3s;
}

/* ----------------------------------------------------------------------------------------
* HEADER
* ----------------------------------------------------------------------------------------
*/

* {
  font-family: "oswald", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(600, 600, 600, 1);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 5rem;
  line-height: 5rem;
  z-index: 111;
}

.logo {
  display: flex;
  cursor: pointer;
}

.navItems {
  display: flex;
}

.navItems li {
  list-style: none;
  margin: 0 1.5rem;
}

.navItems li a {
  font-size: 2rem;
  color: black;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
  color: #7f00ff;
}
.links {
  display: flex;
  align-items: center;
}
.links a {
  font-size: 3rem;
  color: black;
  margin-right: 10px;
}
.MobileNavigation {
  display: none;
}

/* ----------------------------------------------------------------------------------------
* PROFIL
* ----------------------------------------------------------------------------------------
*/
.profil {
  background-color: #fff;
}
.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.wrapper::before {
  position: absolute;
  content: "";
  height: 37.5rem;
  width: 37.5rem;
  border-radius: 50%;
  left: 5%;
  top: 60%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 6s linear infinite;
}
.wrapper::after {
  position: absolute;
  content: "";
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  left: 42%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object2 6s linear infinite;
}
@keyframes object1 {
  50% {
    left: 2%;
    top: 58%;
  }
}
@keyframes object2 {
  50% {
    left: 40%;
    top: 10%;
  }
}
.cols {
  width: 50%;
}
.cols0 {
  width: 50%;
  z-index: 5;
  margin-left: 15%;
}
.cols0 span,
.cols0 p,
.cols0 h1,
.cols0 .button-profil {
  margin: 1rem 0; /* Ajustez cette valeur pour réduire l'espace vertical */
}
.cols p {
  display: block;
  margin-left: 0rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.topline {
  display: block;
  position: relative;
  font-size: 2rem;
  letter-spacing: 2px;
}
.topline::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 2.8rem;
  bottom: 0.6rem;
  background-color: #7f00ff;
}
.cols h1 {
  display: block;
  font-size: 3.7rem;
  font-weight: 900;
}
/*multiText*/
.multiText {
  color: #7f00ff;
  text-transform: capitalize;
}

/*button profil*/
.button-profil {
  width: 100%;
  position: relative;
  left: 9.3rem;
  top: 1.8rem;
}
.bt-profil {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  background-color: black;
  padding: 0.5rem 0.8rem;
  margin: 2.5rem 0.3rem;
  z-index: 1000;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}
.bt-profil:hover {
  background-color: #7f00ff;
  cursor: pointer;
}
/* avatar profil */

.cols img {
  position: relative;
  width: 68%;
  top: 6rem;
  left: 7.4rem;
  transform: rotateY(180deg);
  animation: animateUser 6s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: 7px;
  }
}

.scroll-indicator {
  position: fixed;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: bounce 2s infinite;
}

.arrow {
  width: 1.9rem;
  height: 1.9rem;
  border: solid black;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  transform: rotate(45deg);
  margin-bottom: 5.6rem;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0) scaleY(1);
  }
  50% {
    transform: translate(-50%, 20px) scaleY(0.8);
  }
  100% {
    transform: translate(-50%, 0) scaleY(1);
  }
}

/* ----------------------------------------------------------------------------------------
* ABOUT ME 
* ----------------------------------------------------------------------------------------
*/
.about-section {
  margin-top: 9rem;
}
.infoabout {
  display: flex;
  align-items: center;
  height: 100%;
}

.infoabout__content {
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 50%;
  margin-right: 4rem;
  text-align: justify;
}

.about-hero h3 {
  position: relative;
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
  z-index: 1;
}

.infoabout__soustitle {
  background: linear-gradient(to right, #7f00ff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.infoabout__button {
  display: block;
  padding: 0.6rem 5rem;
  color: #fff;
  border-radius: 1.8rem;
  border: none;
  background: linear-gradient(to right, #7f00ff, black);
  background-size: 200% auto;
  transition: background-position 0.3s;
  font-size: 1rem;
  position: relative;
  z-index: 1000;
}

.infoabout__button:hover {
  background-position: right center;
  cursor: pointer;
}

.infoabout__button:active {
  background-position: 100% center;
}

/*rocket*/
#rocket_dummy {
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 50%;
  background-image: url("https://raw.githubusercontent.com/NouvelleTechno/Fusee-Volante/master/images/background.png");
  background-position: center;
  color: white !important;
  font-weight: bold !important;
  overflow: hidden;
}

#rocket_dummy .rocket_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.5rem;
  height: 15.6rem;
  background-image: url("../../public/images/fusee.png");
  background-size: cover;
  background-position: center;
}

.rocket-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes rocketAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50rem);
  }
}

#rocket_dummy.started .rocket_body {
  animation: rocketAnimation 3s linear forwards;
}
.rocket-button:hover img {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.rocket-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.rocket-button:hover {
  cursor: pointer;
}
button.rocket-button img {
  margin-top: -2.5rem; /* Vous pouvez ajuster cette valeur selon vos besoins */
}

#rocket_dummy::before {
  content: "";
  position: absolute;
  width: 41%;
  height: 70%;
  background-position: center;
  background-size: 40%;
  background-image: url("../../public/images/planet1.png");
  background-repeat: no-repeat;
}
/*button read more*/
.infoabout__button {
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  letter-spacing: 2px;
  padding: 0.6rem 5rem;
  color: #fff;
  border-radius: 0px;
  border: none;
  background: linear-gradient(to right, #7f00ff, black);
  background-size: 200% auto;
  transition: background-position 0.3s;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.infoabout__button:hover {
  background-position: right center;
}

.infoabout__button:active {
  background-position: 100% center;
}
.purple-text {
  color: #7f00ff;
}
.carousel-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-hobbie {
  width: 30rem;
  height: 20rem;
}
.img-hobbiee {
  width: 20rem;
  height: 20rem;
}
/* ----------------------------------------------------------------------------------------
* SKILLS
* ----------------------------------------------------------------------------------------
*/

.skills {
  margin-top: 8rem;
  width: 100%;
}

.skills h3,
.Soft-Skills h3 {
  color: #7f00ff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-category {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}

.skill-category:nth-child(1) h4,
.skill-category:nth-child(1) .card-content h4 {
  color: orange; /* Même couleur pour le type "Langage" */
}
.skill-category:nth-child(2) h4,
.skill-category:nth-child(2) .card-content h4 {
  color: pink; /* Même couleur pour le type "Langage" */
}
.skill-category:nth-child(3) h4,
.skill-category:nth-child(3) .card-content h4 {
  color: rgb(113, 251, 244); /* Même couleur pour le type "Langage" */
}
.skill-category:nth-child(4) h4,
.skill-category:nth-child(4) .card-content h4 {
  color: rgb(126, 253, 126); /* Même couleur pour le type "Langage" */
}
.skill-card {
  width: 200px;
  height: 280px;
  perspective: 1000px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-content.front {
  transform: rotateY(0deg);
}

.card-content.back {
  transform: rotateY(180deg);
}
.card-content.back p {
  font-size: 0.9rem;
  text-align: justify;
  margin: 10px;
}
.notions-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #bfadd9;
}

.skill-card.flipped .card-content.front {
  transform: rotateY(-180deg);
}

.skill-card.flipped .card-content.back {
  transform: rotateY(0deg);
}

.card-content .icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.card-content h4 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.card-content h5 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

/*soft-skills*/
.softskill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 210px;
  margin-top: 70px;
}

.menu {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(25px) translateY(-70px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: black;
}

.menu.active li {
  transform: rotate(calc(360deg / 9 * var(--i))) translateX(100px)
    translateY(-250px) scale(1);
  z-index: 2;
}

.toggle {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 1.25s;
}
.toggle:hover img {
  transform: scale(1.05);
}
.menu.active .toggle {
  transform: rotate(360deg) translateY(70px);
  transform-origin: center;
}
.menu li span {
  transform: rotate(calc(360deg / -9 * var(--i)));
}
.menu .toggle img {
  width: 330px;
  height: 330px;
}
/*education sur page educationSection*/

.container {
  width: 48%;
  margin: 0 auto 80px;
}

.section {
  margin-bottom: 10px;
  border: 2px solid #7f00ff;
  border-radius: 8px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.section-header.active {
  background-color: #bfadd9;
}

.expand-button {
  cursor: pointer;
  padding: 5px;
}

.section-content {
  margin: 10px;
}

/*expérience*/

.experience-grid {
  display: flex;
  flex-direction: row;

  margin-left: 70px;
  align-items: stretch;
}

.experience-item {
  flex: 1; /* Utiliser la propriété flex pour répartir l'espace de manière égale entre les éléments */
  margin-right: 80px; /* Ajuster la marge entre les éléments selon vos préférences */
  margin-bottom: 80px;
}

.experience-title {
  flex-direction: column;

  cursor: pointer;
  color: black;
  border: 2px solid #7f00ff;
  padding: 10px;
  border-radius: 8px;
  align-items: center; /* Centrer les éléments horizontalement */
  text-align: center; /* Centrer le texte à l'intérieur */
}

.experience-title span {
  display: block; /* Faire en sorte que le span occupe toute la largeur */
}

.experience-title strong {
  display: block; /* Faire en sorte que la strong occupe toute la largeur */
  margin-top: 10px; /* Ajouter une marge en haut pour l'espace entre les éléments */
  text-align: left;
}
.experience-point {
  margin-bottom: 10px; /* Espace entre les points */
  line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
  text-indent: 0; 
  border-bottom: 1px solid #eee; /* Ligne séparatrice pour chaque point */
}

.arrow-icon {
  color: white; /* Couleur blanche */
  font-size: 1.2rem; /* Ajustez la taille de la police selon vos préférences */
  margin-left: 17px;
  margin-top: 15px; /* Ajustez la marge à droite pour l'espacement */
}

.arrow-icon.rotate {
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}

.horizontal-line {
  border-top: 1px solid #7f00ff;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}
.experience-circle {
  width: 50px;
  height: 50px;
  background-color: #bfadd9;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -22px;
  margin-right: 80px;
  margin-left: 250px;
  cursor: pointer;
}
.experience-circle:hover {
  background-color: #7f00ff;
}
.expand-button {
  font-size: 24px; /* Ajustez la taille selon vos besoins */
  cursor: pointer; /* Ajoute un indicateur visuel que c'est cliquable */
  padding: 5px; /* Ajoute un peu d'espace autour pour faciliter le clic */
  width: 24px; /* Spécifie une largeur pour l'élément */
  height: 24px; /* Spécifie une hauteur pour l'élément */
  line-height: 24px; /* Centre le texte verticalement */
  text-align: center; /* Centre le texte horizontalement */
  display: inline-block; /* Permet à l'élément de respecter les propriétés de taille */
}
/* ----------------------------------------------------------------------------------------
* PORTFOLIO/my projects
* ----------------------------------------------------------------------------------------
*/

.my-projects {
  margin-top: 5rem;
}

h3 {
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
}
.input-projects {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  position: relative;
}
.input-projects input {
  width: 25rem;
  height: 3rem;
  border: 1px solid #ccc;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-right: 10px;
}

.input-projects .svg-inline--fa {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.input-projects input:focus {
  outline: none;
  border-color: #7f00ff;
}
.project-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container-projects {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-left: 3rem;
}

.project-item h4 {
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  margin-top: 5px;
}
.project-item h5 {
  letter-spacing: 1.2px;
  color: #bfadd9;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-top: 0.1rem;
}
.project-item img {
  max-width: 85%; /* Réduire la taille de l'image à 50% de la largeur du parent */
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-item.special-image img {
  height: 150px;
  width: 70px;
}

.project-item p {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  text-align: justify;
  hyphens: auto;
  margin: 0 40px 40px 40px;
}
.github-button {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  background-color: black;
  width: 240px;
  z-index: 1000;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-top: 20px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.github-button:hover {
  background-color: #7f00ff;
  cursor: pointer;
}

.project-item .svg-inline--fa {
  padding-right: 0.5rem;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #7f00ff;
}
.swiper-wrapper {
  margin-bottom: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #bfadd9;
  font-weight: bold;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #7f00ff;
}
.swiper-button-next::after {
  margin-right: 20px; /* Ajustez la valeur pour déplacer la flèche vers la droite */
}

.project-item .top-section {
  flex: 1;
  background-color: #bfadd9; /* Fond violet */
  border-radius: 15px 15px 15px 0; /* Arrondir le coin supérieur */
}

.project-item .project-details {
  flex: 1;
  background-color: #ffffff; /* Fond blanc */
  border-radius: 15px 0 15px 15px; /* Arrondir le coin inférieur */
  display: flex;
  flex-direction: column;
  padding: 20px; /* Marge intérieure autour du texte */
}

/* ----------------------------------------------------------------------------------------
* CONTACT
* ----------------------------------------------------------------------------------------
*/

article {
  width: 100%;
}
.container-contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.container-contact h3 {
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.links-contact {
  text-align: center;
  font-size: 3rem;
  justify-content: space-between;
}
.links-contact a {
  margin-left: 2rem;
  color: black;
}
.links-contact a:hover {
  color: #7f00ff;
}
.container-contact p {
  font-size: 1.9rem;
  letter-spacing: 2px;
  text-align: center;
  width: 63%;
}
.mymail {
  margin-top: 1rem;
  font-size: 1.9rem;
  letter-spacing: 2px;
}

/*container contact form*/
.container-contact-form {
  margin-top: 4rem;
}

.container-contact-form .name-group,
.form-group {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
  margin-top: 2rem;

  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.form-group {
  margin-left: 2rem;
}

.container-contact-form .name-group input {
  width: 20rem;
  height: 3.1rem;
}
.form-group input {
  width: 49rem;
  height: 3.1rem;
  margin-left: 2rem;
}
.input-with-focus {
  outline: none;
  border: 2px solid #7f00ff;
  border-radius: 5px;
}
.form-group textarea {
  width: 49rem;
  height: 22rem;
  margin-right: 1rem;
}

.button-contact-form {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.confirm-message p {
  font-size: 3rem;
  text-align: center;
  color: #bfadd9;
}
.button-envoyer {
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  background-color: black;
  padding: 0.5rem 0.9rem;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.button-envoyer:hover {
  background-color: #7f00ff;
}

/* ----------------------------------------------------------------------------------------
* FOOTER
* ----------------------------------------------------------------------------------------
*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo-footer {
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.logo-footer img {
  width: 5rem;
  cursor: pointer;
  background: none;
}

/*.navItems-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  z-index: 1000;
}

.navItems-footer li {
  list-style: none;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}*/
.navItems-footer {
  display: flex;
}

.navItems-footer li {
  list-style: none;
  margin: 0 1.5rem;
}

.navItems-footer li a {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.navItems-footer li:hover a,
.links a:hover {
  color: #7f00ff;
}
.logo-footer:hover img,
.links-footer a:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.navItems-footer a {
  color: #ffffff;
  text-decoration: none;
}

.navItems-footer li:hover a {
  color: #7f00ff;
}

.links-footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.links-footer a {
  color: #ffffff;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

/* ----------------------------------------------------------------------------------------
* Wrapper-pages
* ----------------------------------------------------------------------------------------
*/
.wrapper-pages {
  overflow: hidden;
  width: 100%;
}
.wrapper-pages .object3 {
  content: "";
  position: absolute;
  height: 37.5rem;
  width: 37.5rem;
  border-radius: 50%;
  left: -12%;
  top: 30%;

  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.3),
    rgba(255, 192, 203, 0.3)
  );
  pointer-events: none;
  animation: object3 6s linear infinite;
}
.wrapper-pages .object4 {
  content: "";
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  left: 68%;
  top: 13%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object4 6s linear infinite;
}
.wrapper-pages .object5 {
  content: "";
  position: absolute;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  left: 62%;
  top: 90%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object5 6s linear infinite;
  overflow: hidden;
}
.wrapper-pages .object6 {
  content: "";
  position: absolute;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  left: 62%;
  top: 90%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object6 6s linear infinite;
  overflow: hidden;
}
@keyframes object3 {
  50% {
    left: -13%;
    top: 31%;
  }
}
@keyframes object4 {
  50% {
    left: 70%;
    top: 11%;
  }
}
@keyframes object5 {
  50% {
    left: 64%;
    top: 92%;
  }
}
@keyframes object6 {
  50% {
    left: 64%;
    top: 92%;
  }
}

@media screen and (max-width: 768px) {
  .Character {
    --pixel-size: 11; /* Ajustez cette valeur pour réduire la taille du personnage */
  }

  /*header*/
  .Navigation {
    display: none;
  }
  .MobileNavigation {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .MobileNavigation .Hamburger {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: black;
    border-top: 2px solid #bfadd9;
  }
  .navItems li a {
    color: #fff;
    margin-right: 1rem;
  }
  .links {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-right: 7rem;
  }
  .logo img {
    width: 80px;
    height: 60px;
    margin-top: 8px;
  }
  /*footer*/

  footer {
    padding: 10px;
  }

  .logo-footer:hover img,
  .links-footer a:hover {
    transform: none;
  }
  /*home*/
  .profil {
    margin-top: 7rem;
  }
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .wrapper::before {
    height: 15rem;
    width: 15rem;
    left: 9%;
    top: 50%;
  }
  @keyframes object1 {
    50% {
      left: 5%;
      top: 52%;
    }
  }
  .wrapper::after {
    height: 5rem;
    width: 5rem;
    left: 70%;
    top: 8%;
  }
  @keyframes object2 {
    50% {
      left: 68%;
      top: 10%;
    }
  }

  .cols {
    width: 100%;
    margin: 0;
  }

  .cols0 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .cols0 span,
  .cols0 p,
  .cols0 h1,
  .cols0 .button-profil {
    margin: 0;
  }
  .topline,
  .cols0 p {
    font-size: 2rem;
  }
  .cols0 h1 {
    font-size: 2.5rem;
  }
  .cols1 {
    height: 25rem;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .cols img {
    width: 50%;
    top: 6rem; /* Ajuster cette valeur pour modifier le déplacement de l'image vers le haut */
    left: 4rem;
    transform: translateY(-10%) rotateY(180deg);
  }

  @keyframes animateUser {
    50% {
      right: 30px;
      top: 50px; /* Ajuster cette valeur pour modifier le déplacement de l'image vers le bas */
    }
  }
  .button-profil {
    left: 0.5rem;
  }

  .about-section {
    margin: 0rem;
  }
  .infoabout {
    flex-direction: column;
    align-items: center;
  }

  .infoabout__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .infoabout__soustitle,
  .infoabout__content {
    text-align: left;
    hyphens: auto;
    word-wrap: break-word;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: calc(12px + 0.5vw);
  }
  .rocket-container {
    width: 90%;
  }
  #rocket_dummy {
    width: 20rem;
    height: 20rem;
  }
  #rocket_dummy .rocket_body {
    width: 4rem;
    height: 12rem;
  }
  button.rocket-button img {
    margin-top: -2.4rem;
  }
  /*carousel hobbie*/
  .carousel-container {
    position: relative;
    height: 30%;
    width: 94%;
    bottom: 2rem;
  }
  .img-hobbie {
    width: 9rem;
    height: 6rem;
  }
  .img-hobbiee {
    width: 9rem;
    height: 9rem;
  }
  /*skill experience*/
  .skill-card {
    width: 140px;
    height: 190px;
  }

  .card-content .icon {
    font-size: 3rem;
    margin-bottom: 6px;
  }

  .card-content h4 {
    font-size: 1.5rem;
  }

  .card-content h5 {
    font-size: 0.5rem;
  }
  .card-content.back {
    margin: -4px;
    box-sizing: border-box;
  }
  .card-content.back p {
    font-size: 0.5rem;
  }
  .notions-text {
    font-size: 1rem;
    color: black;
  }
  .slider {
    margin: -15px 100px; /* Ajustez la marge autour du carrousel */
  }

  .slider div {
    margin: 0 0px; /* Ajustez la marge entre chaque élément du carrousel */
  }

  /*softskills*/
  .softskill {
    margin-bottom: 0rem;
    margin-top: -2rem;
  }
  .menu {
    width: 150px; /* Taille du grand cercle en version mobile */
    height: 150px;
  }

  .menu li {
    transform-origin: 60px; /* Réduisez la distance des petits cercles par rapport au centre en version mobile */
    width: 100px; /* Taille des petits cercles en version mobile */
    height: 100px;
    margin-left: 13px;
    transform: rotate(0deg) translateX(25px) translateY(-100px); /* Ajustez la position des petits cercles */
  }

  .menu.active li {
    transform: rotate(calc(360deg / 9 * var(--i))) translateX(30px)
      translateY(-130px) scale(0.7); /* Ajustez la taille et la position des petits cercles en mode actif */
  }

  .toggle {
    width: 150px; /* Taille du bouton central en version mobile */
    height: 150px;
    font-size: 1em; /* Ajustez la taille de la police du bouton central en version mobile */
  }
  .menu.active .toggle {
    transform: rotate(360deg) translateY(50px);
    transform-origin: center;
  }
  .menu .toggle img {
    width: 200px; /* Taille de l'image dans le bouton central en version mobile */
    height: 200px;
  }
  /*education*/
  .container {
    width: 70%; /* Ajustez la largeur pour la version mobile */
    margin: 0 auto; /* Vous pouvez ajuster la marge si nécessaire */
    margin-bottom: 70px;
  }

  .section-header {
    padding: 5px; /* Ajustez la marge intérieure pour la version mobile */
  }

  .section-content {
    margin-left: 10px; /* Ajustez la marge de gauche pour la version mobile */
  }

  /* Expérience Section Styles */

  .experience-grid {
    display: flex;
    flex-direction: column; /* Changez la direction en colonne pour la version mobile */
    align-items: flex-start; /* Alignez les expériences à gauche pour la version mobile */
    margin-left: 100px; /* Réinitialisez la marge à zéro */
    height: auto;
  }

  .experience-item {
    margin-right: 20px; /* Réinitialisez la marge à zéro */
    margin-bottom: 70px; /* Ajoutez une marge entre les expériences pour la version mobile */
  }

  .experience-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
  }

  .experience-points {
    display: flex;
    flex-direction: column; /* Changez la direction en colonne pour les points */
  }

  .experience-point {
    display: flex;
    align-items: center;
    color: black;
  }
  .vertical-line {
    border-left: 1px solid #7f00ff;
    height: auto;
    position: absolute;
    left: 70px; /* Ajustez la position à gauche */
    pointer-events: none; /* Désactive les événements pointer pour permettre aux clics de passer à travers */
  }

  .experience-circle {
    width: 20px; /* Réduisez la taille du cercle pour la version mobile */
    height: 20px; /* Réduisez la taille du cercle pour la version mobile */
    background-color: #bfadd9;
    border-radius: 50%;
    margin-right: 0px; /* Réinitialisez la marge à zéro */
    margin-top: 30px;
    margin-bottom: 130px; /* Ajoutez une marge entre les cercles pour la version mobile */
    right: 180px;
  }

  .horizontal-line {
    display: none;
  }

  /*portfolio/my project*/
  .project-item img {
    width: 100%;
  }
  .input-projects {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .input-projects input {
    width: 90%;
  }
  .container-projects {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .project-item h4 {
    letter-spacing: 1.2px;

    font-size: 1.5rem;
  }
  .project-item h5 {
    letter-spacing: 1.2px;

    font-size: 1rem;
  }
  .project-item p {
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin: 0 10px 30px 10px;
  }
  .github-button {
    font-size: 1.5rem;
    width: 240px;
  }
  .mySwiper-button-prev::after,
  .mySwiper-button-next::after {
    visibility: hidden;
  }

  /* CONTACT*/

  .container-contact h3 {
    font-size: 2rem;
  }
  .container-contact p {
    font-size: 1.5rem;
    width: 100%;
  }
  .container-contact .mymail {
    font-size: 1.5rem;
    width: 100%;
  }
  .name-group,
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .container-contact-form .name-group input {
    width: 22rem;
  }
  .form-group input,
  .form-group textarea {
    width: 90%;
  }
  .form-group,
  .form-group input,
  .form-group textarea {
    margin: 0.4rem 0 0.6rem 0;
  }
  .confirm-message p {
    font-size: 2rem;
  }
  /*wrapper-pages*/
  .wrapper-pages .object3 {
    height: 13rem;
    width: 13rem;
    left: 9%;
    top: 55%;
  }
  @keyframes object3 {
    50% {
      left: 5%;
      top: 57%;
    }
  }
  .wrapper-pages .object4 {
    height: 5rem;
    width: 5rem;
    left: 70%;
    top: 8%;
  }
  @keyframes object4 {
    50% {
      left: 68%;
      top: 10%;
    }
  }
  .wrapper-pages .object5 {
    height: 15rem;
    width: 15rem;
    left: 22%;
    top: 100%;
  }
  @keyframes object5 {
    50% {
      left: 20%;
      top: 90%;
    }
  }

  .wrapper-pages .object6 {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      rgba(127, 0, 255, 0.2),
      rgba(255, 192, 203, 0.2)
    );
    animation: object6 6s linear infinite;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    left: 18%;
    top: 120%;
  }
  @keyframes object6 {
    50% {
      left: 15%;
      top: 118%;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .wrapper-pages .object5 {
    left: 49%;
    top: 65%;
  }
  @keyframes object5 {
    50% {
      left: 46%;
      top: 67%;
    }
  }
}
@media screen and (min-width: 465px) {
  .mySwiper-button-prev,
  .mySwiper-button-next {
    visibility: visible;
  }
}
