@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&family=Oswald:wght@200;400;600;700&family=Poppins:wght@400;600;800&display=swap");
/* ----------------------------------------------------------------------------------------
* preloader
* ----------------------------------------------------------------------------------------
*/
.container-character {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Character {
  border-radius: 50%;
  background-color: #bfadd9;
  --pixel-size: 16;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* ----------------------------------------------------------------------------------------
* HEADER
* ----------------------------------------------------------------------------------------
*/
* {
  font-family: "oswald", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(600, 600, 600, 1);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 5rem;
  line-height: 5rem;
  z-index: 111;
}

.logo {
  display: flex;
  cursor: pointer;
}

.navItems {
  display: flex;
}

.navItems li {
  list-style: none;
  margin: 0 1.5rem;
}

.navItems li a {
  font-size: 2rem;
  color: black;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
  color: #7f00ff;
}
.links {
  display: flex;
  align-items: center;
}
.links a {
  font-size: 3rem;
  color: black;
  margin-right: 10px;
}
.MobileNavigation {
  display: none;
}

/* ----------------------------------------------------------------------------------------
* PROFIL
* ----------------------------------------------------------------------------------------
*/
.profil {
  background-color: #fff;
}
.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.wrapper::before {
  position: absolute;
  content: "";
  height: 37.5rem;
  width: 37.5rem;
  border-radius: 50%;
  left: 5%;
  top: 60%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 6s linear infinite;
}
.wrapper::after {
  position: absolute;
  content: "";
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  left: 42%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object2 6s linear infinite;
}
@keyframes object1 {
  50% {
    left: 2%;
    top: 58%;
  }
}
@keyframes object2 {
  50% {
    left: 40%;
    top: 10%;
  }
}
.cols {
  width: 50%;
}
.cols0 {
  width: 50%;
  z-index: 5;
  margin-left: 15%;
}
.cols0 span,
.cols0 p,
.cols0 h1,
.cols0 .button-profil {
  margin: 1rem 0; /* Ajustez cette valeur pour réduire l'espace vertical */
}
.cols p {
  display: block;
  margin-left: 0rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.topline {
  display: block;
  position: relative;
  font-size: 2rem;
  letter-spacing: 2px;
}
.topline::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 2.8rem;
  bottom: 0.6rem;
  background-color: #7f00ff;
}
.cols h1 {
  display: block;
  font-size: 3.7rem;
  font-weight: 900;
}
/*multiText*/
.multiText {
  color: #7f00ff;
  text-transform: capitalize;
}

/*button profil*/
.button-profil {
  width: 100%;
  position: relative;
  left: 9.3rem;
  top: 1.8rem;
}
.bt-profil {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  background-color: black;
  padding: 0.5rem 0.8rem;
  margin: 2.5rem 0.3rem;

  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.bt-profil:hover {
  background-color: #7f00ff;
}
/* avatar profil */

.cols img {
  position: relative;
  width: 68%;
  top: 6rem;
  left: 7.4rem;
  transform: rotateY(180deg);
  animation: animateUser 6s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: 7px;
  }
}

.scroll-indicator {
  position: fixed;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: bounce 2s infinite;
}

.arrow {
  width: 1.9rem;
  height: 1.9rem;
  border: solid black;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  transform: rotate(45deg);
  margin-bottom: 5.6rem;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0) scaleY(1);
  }
  50% {
    transform: translate(-50%, 20px) scaleY(0.8);
  }
  100% {
    transform: translate(-50%, 0) scaleY(1);
  }
}

/* ----------------------------------------------------------------------------------------
* ABOUT ME 
* ----------------------------------------------------------------------------------------
*/
.about-section {
  margin-top: 9rem;
}
.infoabout {
  display: flex;
  align-items: center;
  height: 100%;
}

.infoabout__content {
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 50%;
  margin-right: 4rem;
  text-align: justify;
}

.about-hero h3 {
  position: relative;
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
  z-index: 1;
}

.infoabout__soustitle {
  background: linear-gradient(to right, #7f00ff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.infoabout__button {
  display: block;
  padding: 0.6rem 5rem;
  color: #fff;
  border-radius: 1.8rem;
  border: none;
  background: linear-gradient(to right, #7f00ff, black);
  background-size: 200% auto;
  transition: background-position 0.3s;
  font-size: 1rem;
}

.infoabout__button:hover {
  background-position: right center;
}

.infoabout__button:active {
  background-position: 100% center;
}

/*rocket*/
#rocket_dummy {
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 50%;
  background-image: url("https://raw.githubusercontent.com/NouvelleTechno/Fusee-Volante/master/images/background.png");
  background-position: center;
  color: white !important;
  font-weight: bold !important;
  overflow: hidden;
}

#rocket_dummy .rocket_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.5rem;
  height: 15.6rem;
  background-image: url("../../public/images/fusee.png");
  background-size: cover;
  background-position: center;
}

.rocket-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes rocketAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50rem);
  }
}

#rocket_dummy.started .rocket_body {
  animation: rocketAnimation 3s linear forwards;
}

.rocket-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
button.rocket-button img {
  margin-top: -2.5rem; /* Vous pouvez ajuster cette valeur selon vos besoins */
}

#rocket_dummy::before {
  content: "";
  position: absolute;
  width: 41%;
  height: 70%;
  background-position: center;
  background-size: 40%;
  background-image: url("../../public/images/planet1.png");
  background-repeat: no-repeat;
}
/*button read more*/
.infoabout__button {
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  letter-spacing: 2px;
  padding: 0.6rem 5rem;
  color: #fff;
  border-radius: 0px;
  border: none;
  background: linear-gradient(to right, #7f00ff, black);
  background-size: 200% auto;
  transition: background-position 0.3s;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.infoabout__button:hover {
  background-position: right center;
}

.infoabout__button:active {
  background-position: 100% center;
}
.carousel-container {
  
  display: flex;
  justify-content: center;
  
}

.img-hobbie {
  width: 30rem;
  height: 20rem;
}
.img-hobbiee {
  width: 20rem;
  height: 20rem;
}
/* ----------------------------------------------------------------------------------------
* SKILLS
* ----------------------------------------------------------------------------------------
*/

.skills {
  margin-top: 8rem;
}

.skills h3,
.Soft-Skills h3 {
  color: #7f00ff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
}
.Skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Skill-content .icon {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #bfadd9;
  transition: transform 0.3s ease-in-out;
}

.Skill-content .icon:hover {
  transform: rotate(360deg);
}

.Skill-content h4,
.Skill-content h5,
.Skill-content p {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Skill-content h4 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}
.Skill-content h5 {
  text-decoration: underline;
  letter-spacing: 1px;
}
.Skill-content p {
  font-size: 1rem;
  letter-spacing: 1px;
}
.Skill {
  border: 2px solid;
  padding: 1rem;
}
.flex-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.Skill.zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 999;
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.Skill.zoomed .Skill-content {
  width: 100%;
  max-width: 37.5rem;
  padding: 1.25rem;
}
.flex-col .hide-skills .Skill:not(.zoomed) {
  opacity: 0;
  pointer-events: none;
}
.close-button {
  margin-bottom: 20rem;
  left: 10rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Skill.zoomed .close-button {
  z-index: 1;
}
.zoom-button {
  margin-top: 0.6rem;
  right: 0.6rem;
  padding: 0.5rem 0.75rem;
  background-color: black;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.zoom-button:hover {
  background-color: #7f00ff;
}

/*Soft-Skills*/

.Soft-Skills h3 {
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
}

.soft-skills-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 10rem;
}

.soft-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soft-skill-icon {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #bfadd9;
  margin-bottom: 0.6rem;
}

.soft-skill-icon:hover {
  background-color: black;
}
.soft-skill-icon::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
/* ----------------------------------------------------------------------------------------
* PORTFOLIO/my projects
* ----------------------------------------------------------------------------------------
*/

.my-projects {
  margin-top: 5rem;
}

h3 {
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
}
.input-projects {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  position: relative;
}
.input-projects input {
  width: 25rem;
  height: 3rem;
  border: 1px solid #ccc;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.input-projects .svg-inline--fa {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.input-projects input:focus {
  outline: none;
  border-color: #7f00ff;
}
.project-item {
  background-color: #bfadd9;
  width: 90%;
  height: 100%;
}
.container-projects {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-left: 3rem;
}

.project-item h4 {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.project-item h5 {
  letter-spacing: 2px;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.project-item img {
  width: 30rem;
}
.project-item p {
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.project-item a {
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  margin-top: 1rem;

  font-size: 1.5rem;
}
.container-projects a:hover {
  letter-spacing: 1px;
  color: #7f00ff;
  text-decoration: none;
}
.project-item .svg-inline--fa {
  padding-right: 0.5rem;
}

/* ----------------------------------------------------------------------------------------
* CONTACT
* ----------------------------------------------------------------------------------------
*/

article {
  width: 100%;
}
.container-contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.container-contact h3 {
  color: #7f00ff;
  text-align: center;
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 3.7rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.links-contact {
  text-align: center;
  font-size: 3rem;
  justify-content: space-between;
}
.links-contact a {
  margin-left: 2rem;
  color: black;
}
.links-contact a:hover {
  color: #7f00ff;
}
.container-contact p {
  font-size: 1.9rem;
  letter-spacing: 2px;
  text-align: center;
  width: 63%;
}
.mymail {
  margin-top: 1rem;
  font-size: 1.9rem;
  letter-spacing: 2px;
}

/*container contact form*/
.container-contact-form {
  margin-top: 4rem;
}

.container-contact-form .name-group,
.form-group {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
  margin-top: 2rem;

  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.form-group {
  margin-left: 2rem;
}

.container-contact-form .name-group input {
  width: 20rem;
  height: 3.1rem;
}
.form-group input {
  width: 49rem;
  height: 3.1rem;
  margin-left: 2rem;
}
.input-with-focus {
  outline: none; /* Supprime le contour par défaut lorsque l'input a le focus */
  border: 2px solid #7f00ff; /* Ajoute un contour violet de 2px */
  border-radius: 5px; /* Facultatif : arrondit les bords du contour */
}
.form-group textarea {
  width: 49rem;
  height: 22rem;
  margin-right: 1rem;
}

.button-contact-form {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.confirm-message p {
  font-size: 3rem;
  text-align: center;
  color: #bfadd9;
}
.button-envoyer {
  font-family: "oswald", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  background-color: black;
  padding: 0.5rem 0.9rem;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.button-envoyer:hover {
  background-color: #7f00ff;
}

/* ----------------------------------------------------------------------------------------
* FOOTER
* ----------------------------------------------------------------------------------------
*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo-footer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo-footer img {
  width: 5rem;
  cursor: pointer;
}

.navItems-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.navItems-footer li {
  list-style: none;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.navItems-footer a {
  color: #ffffff;
  text-decoration: none;
}

.navItems-footer li:hover a,
.links-footer a:hover {
  color: #7f00ff;
}

.links-footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-footer a {
  color: #ffffff;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

/* ----------------------------------------------------------------------------------------
* Wrapper-pages
* ----------------------------------------------------------------------------------------
*/
.wrapper-pages {
  overflow: hidden;
  width: 100%;
}
.wrapper-pages .object3 {
  content: "";
  position: absolute;
  height: 37.5rem;
  width: 37.5rem;
  border-radius: 50%;
  left: -12%;
  top: 30%;

  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.3),
    rgba(255, 192, 203, 0.3)
  );
  pointer-events: none;
  animation: object3 6s linear infinite;
}
.wrapper-pages .object4 {
  content: "";
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  left: 68%;
  top: 13%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object4 6s linear infinite;
}
.wrapper-pages .object5 {
  content: "";
  position: absolute;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  left: 62%;
  top: 90%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object5 6s linear infinite;
  overflow: hidden;
}
.wrapper-pages .object6 {
  content: "";
  position: absolute;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  left: 62%;
  top: 90%;
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 0.2),
    rgba(255, 192, 203, 0.2)
  );
  animation: object6 6s linear infinite;
  overflow: hidden;
}
@keyframes object3 {
  50% {
    left: -13%;
    top: 31%;
  }
}
@keyframes object4 {
  50% {
    left: 70%;
    top: 11%;
  }
}
@keyframes object5 {
  50% {
    left: 64%;
    top: 92%;
  }
}
@keyframes object6 {
  50% {
    left: 64%;
    top: 92%;
  }
}

@media screen and (max-width: 768px) {
  .Character {
    --pixel-size: 11; /* Ajustez cette valeur pour réduire la taille du personnage */
  }

  /*header*/
  .Navigation {
    display: none;
  }
  .MobileNavigation {
    display: flex;
    align-items: center;

    width: 0px;
  }
  .MobileNavigation .Hamburger {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: black;
    border-top: 2px solid #bfadd9;
  }
  .navItems li a {
    color: #fff;
    margin-right: 1rem;
  }
  .links {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-right: 3rem;
  }
  .logo img {
    width: 80px;
    height: 60px;
    margin-top: 8px;
  }
  /*home*/
  .profil {
    margin-top: 7rem;
  }
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .wrapper::before {
    height: 15rem;
    width: 15rem;
    left: 9%;
    top: 50%;
  }
  @keyframes object1 {
    50% {
      left: 5%;
      top: 52%;
    }
  }
  .wrapper::after {
    height: 5rem;
    width: 5rem;
    left: 70%;
    top: 8%;
  }
  @keyframes object2 {
    50% {
      left: 68%;
      top: 10%;
    }
  }

  .cols {
    width: 100%;
    margin: 0;
  }

  .cols0 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .cols0 span,
  .cols0 p,
  .cols0 h1,
  .cols0 .button-profil {
    margin: 0;
  }
  .topline,
  .cols0 p {
    font-size: 2rem;
  }
  .cols0 h1 {
    font-size: 2.5rem;
  }
  .cols1 {
    height: 25rem;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .cols img {
    width: 50%;
    top: 6rem; /* Ajuster cette valeur pour modifier le déplacement de l'image vers le haut */
    left: 4rem;
    transform: translateY(-10%) rotateY(180deg);
  }

  @keyframes animateUser {
    50% {
      right: 30px;
      top: 50px; /* Ajuster cette valeur pour modifier le déplacement de l'image vers le bas */
    }
  }
  .button-profil {
    left: 0.5rem;
  }
  .about-section {
    margin: 0rem;
  }
  .infoabout {
    flex-direction: column;
    align-items: center;
  }

  .infoabout__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .infoabout__soustitle,
  .infoabout__content {
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .rocket-container {
    width: 90%;
  }
  #rocket_dummy {
    width: 20rem;
    height: 20rem;
  }
  #rocket_dummy .rocket_body {
    width: 4rem;
    height: 12rem;
  }
  button.rocket-button img {
    margin-top: -2.4rem;
  }
  /*carousel hobbie*/
.carousel-container {
  margin-bottom: -9rem;
}
.img-hobbie {
  width: 9rem;
  height: 6rem;
}
.img-hobbiee {
  width: 9rem;
  height: 9rem;
}
  /*portfolio/my project*/
  .project-item img {
    width: 100%;
  }
  .input-projects {
    margin-right: 10%;
  }

  .input-projects input {
    width: 86%;
  }
  
  /*skills*/
  .Skill {
    width: 100%; /* Ajustez la valeur de la largeur selon vos besoins */
  }
  .skills h3,
  .Soft-Skills h3 {
    font-size: 2.5rem;
  }

  .Skill-content .icon {
    font-size: 3rem;
  }

  .Skill-content h4 {
    font-size: 1.5rem;
  }

  .Skill-content h5 {
    font-size: 1.2rem;
  }

  .Skill-content p {
    font-size: 1rem;
  }

  .flex-col {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2rem;
    margin-right: 4rem;
  }

  .soft-skills-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
  }

  .soft-skill-icon {
    width: 10rem;
    height: 10rem;
  }

  .soft-skill-icon::before {
    font-size: 1.3rem;
  }
  .Skill.zoomed {
    transform: translate(-50%, -50%) scale(1.2); /* Ajustez la valeur de scale */

    display: flex;
    flex-direction: column; /* Organiser les éléments verticalement */
    justify-content: center;
    align-items: center;
  }

  .Skill.zoomed .close-button {
    /* Styles pour la croix de fermeture */
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  /* CONTACT*/
  .container-contact h3 {
    font-size: 2rem;
  }
  .container-contact p {
    font-size: 1.5rem;
    width: 100%;
  }
  .container-contact .mymail {
    font-size: 1.5rem;
    width: 100%;
  }
  .name-group,
  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea {
    width: 90%;
  }
  .form-group,
  .form-group input,
  .form-group textarea {
    margin: auto;
  }
  .confirm-message p {
    font-size: 2rem;
  }
  /*wrapper-pages*/
  .wrapper-pages .object3 {
    height: 13rem;
    width: 13rem;
    left: 9%;
    top: 55%;
  }
  @keyframes object3 {
    50% {
      left: 5%;
      top: 57%;
    }
  }
  .wrapper-pages .object4 {
    height: 5rem;
    width: 5rem;
    left: 70%;
    top: 8%;
  }
  @keyframes object4 {
    50% {
      left: 68%;
      top: 10%;
    }
  }
  .wrapper-pages .object5 {
    height: 20rem;
    width: 20rem;
    left: 22%;
    top: 80%;
  }
  @keyframes object5 {
    50% {
      left: 20%;
      top: 76%;
    }
  }

  .wrapper-pages .object6 {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      rgba(127, 0, 255, 0.2),
      rgba(255, 192, 203, 0.2)
    );
    animation: object6 6s linear infinite;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    left: 22%;
    top: 120%;
  }
  @keyframes object6 {
    50% {
      left: 20%;
      top: 118%;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .wrapper-pages .object5 {
    left: 49%;
    top: 65%;
  }
  @keyframes object5 {
    50% {
      left: 46%;
      top: 67%;
    }
  }
}
